In [1]:
from __future__ import print_function

import pandas as pd
pd.__version__

'0.23.4'

In [3]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

In [4]:
city_names

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

In [5]:
population = pd.Series([852469, 1015785, 485199])

In [6]:
population

0     852469
1    1015785
2     485199
dtype: int64

In [7]:
pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199